@media (min-width: 1051px) {
    .caixa {
        width: 1000px;
        margin: auto;
    }
}

@media (max-width: 1050px) {
    .caixa {
        width: 900px;
        margin: auto;
    }
}

@media (max-width: 955px) {
    .caixa {
        width: 600px;
        margin: auto;
    }

}

@media (max-width: 660px) {
    .caixa {
        width: 440px;
        margin: auto;
    }
}

@media (max-width: 955px) {
    .caixa {
        display: flex;
        flex-wrap: wrap
    }
}

@media (max-width: 660px) {
    #logoBemVindo {
        width: 450px;
        height: 450px;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cabin&family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
   background-image: linear-gradient(120deg, #ece8e8 0%, #ebedee 100%);
    font-size: 100%;
}

.caixa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: whitesmoke;
}

.camposDigitar {
    border: solid 1px black;
    padding: 10px;
    width: 22em;
}

input:focus { 
    outline:none;
    border-color:dodgerBlue;
    box-shadow:0 0 2px dodgerBlue;
}

.botaoAcessar {
    background-color: dodgerBlue;
    border: 0;
    width: 23em;
    border-radius: 3px;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    outline: 0;
    color: white;
    margin-bottom: 20px;
}

 h3 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
 }

 .inputWithIcon input[type="email"], input[type="password"] {
    padding-left: 40px;
  }

  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    padding: 9px 8px;
    color: black;
    transition: 0.3s;
  }

  .inputWithIcon input[type="email"]:focus + i, input[type="password"]:focus + i {
    color: dodgerBlue;
  }

  .IniOculta {
    display: none;
}

#AcessarComServidorExterno{
    cursor: pointer;
    border: none;
    text-align: center;
    margin-top: 10px;
}

.botaoCadastrar{
    color: dodgerBlue;
    font-family: "Roboto", sans-serif;
    margin-left: 15px;
    border: none;
    background-color: whitesmoke;
    font-size: 16px;
}

p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

#Carregando{
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 1;
}


.cabecalho {
    border-bottom: dimgrey solid 1px;
    padding-bottom: 15px;
}
.cabecalho-objetos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.cabecalho-objetos-02 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    gap: 320px;
}

.text {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

.cabecalho-objetos > button{
    border-radius: 25px;
    border: solid 1px dimgrey;
    width: 200px;
    color: black;
}

#cabecalho-image {
    height: 100px;
    border-radius: 100%;
}

.cabecalho-menu {
    display: flex;
    gap: 20px;
}

.cabecalho-menu-item {
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    padding: 6px;
    color: dimgrey;
    text-transform: uppercase;
}


.divider {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.divider > hr {
    margin-top: 10px;
    width: 100%;
    border: 0;
    height: 1px;
    background: rgb(165, 165, 165);
}

.divider.center >:first-child {
    margin-right: 5px;
}

.divider.center >:last-child {
    margin-left: 5px;
}
  
 