@media (min-width: 1051px) {
    .caixa {
        width: 1000px;
        margin: auto;
    }
}

@media (max-width: 1050px) {
    .caixa {
        width: 900px;
        margin: auto;
    }
}

@media (max-width: 955px) {
    .caixa {
        width: 600px;
        margin: auto;
    }
}

@media (max-width: 660px) {
    .caixa {
        width: 440px;
        margin: auto;
    }
}

@media (max-width: 955px) {
    .caixa {
        display: flex;
        flex-wrap: wrap
    }
}

@media (max-width: 660px) {
    #logoBemVindo {
        width: 450px;
        height: 450px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 770px;
}

.caixa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: whitesmoke;
}

.camposDigitar {
    border: solid 1px black;
    padding: 10px;
    width: 22em;
}

input:focus { 
    outline:none;
    border-color:dodgerBlue;
    box-shadow:0 0 2px dodgerBlue;
}

.botaoAcessar {
    background-color: dodgerBlue;
    border: 0;
    width: 23em;
    border-radius: 3px;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    outline: 0;
    color: white;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    margin-bottom: 20px;
}

 h3 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
 }

 .inputWithIcon input[type="email"], input[type="password"] {
    padding-left: 40px;
  }

  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    padding: 9px 8px;
    color: black;
    transition: 0.3s;
  }

  .inputWithIcon input[type="email"]:focus + i, input[type="password"]:focus + i {
    color: dodgerBlue;
  }

  .IniOculta {
    display: none;
}

#ServidoresExternos{
    display: flex;
    margin: 4px;
}

#AcessarComServidorExterno{
    cursor: pointer;
    border: none;
    margin-left: 10px;
    margin: 10px;
}

.botaoCadastrar{
    color: dodgerBlue;
    font-family: "Roboto", sans-serif;
    margin-left: 15px;
    border: none;
    background-color: whitesmoke;
    font-size: 16px;
}

p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

#Carregando{
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 1;
}

.left {
    text-align: center;
    border: white solid 1px;
    border-radius: 15px;
    width: 600px;
    margin: auto;
    padding: 8px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0);
}

#ImgUsuario {
    height: 40px;
    border-radius: 100%;
}

  
  
 